doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css",
        media="screen,projection")
body
    .container-fluid
        div.row
            div.section
                div.col.l4.offset-l4
                    form(action = "/create-payment" method = "post")
                        .form-group
                            input.form-control(type='text', name="paymentAmount", placeholder="50.00" required)
                        button.btn.btn-large(type='submit') Pay user
